*, *::before, *::after {
    box-sizing: border-box;
    text-decoration: none;
}

:root {
    --ff-primary: 'Source Sans Pro', sans-serif;
    --ff-secondary: 'Source Sans Pro', monospace;
    --fw-reg: 300;
    --fw-bold: 900;
    --clr-light: #fff;
    --clr-dark: #1d1d1d;
    --clr-accent: #16e0bd;
    --clr-gray: rgb(48, 48, 48);
    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;
    --bs: 0.25em 0.25em 0.75em rgba(0, 0, 0, .25), 0.125em 0.125em 0.25em rgba(0, 0, 0, .15);
}

@media (min-width: 800px) {
    :root {
        --fs-h1: 4.5rem;
        --fs-h2: 3.75rem;
        --fs-h3: 1.5rem;
        --fs-body: 1.125rem;
    }
}

/* general style*/

html{
    scroll-behavior: smooth;
}

body {
    background: var(--clr-light);
    color: var( --clr-dark);
    margin: 0;
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    line-height: 1.6;
}

/*canvas animated background*/

canvas{
    background: var(--clr-light);
    position:fixed;
    left:0;
    top:0;
    z-index:-5;
    opacity: 0.3;
}

section {
    padding: 5em;
}

img {
    display: block;
    max-width: 100%;
}

strong {
    font-weight: var(--fw-bold);
}

/*Typorgraphie*/

h1, h2, h3 {
    line-height: 1;
    margin: 0;
}

h1 {
    font-size: var(--fs-h1);
}

h2 {
    font-size: var(--fs-h2);
}

h3 {
    font-size: var(--fs-h3);
}

.section__title {
    margin-bottom: .25em;
}

.section__title--intro strong {
    display: block;
}

.section__title--intro {
    font-weight: var(--fw-reg);
    margin-bottom: .10em;
}

.section__subtitle {
    margin: 0%;
    font-size: var(--fs-h3);
}

.section__subtitle--intro, .section__subtitle--moi {
    background: var(--clr-accent);
    padding: .25em;
    font-family: var(--ff-secondary);
    margin-bottom: 1em;
}

.section__subtitle--projets{
    color: var(--clr-accent);
    font-weight: var(--fw-bold);
    margin-bottom: 2em;

}


/*header*/

.header{
    display: flex;
    justify-content: space-between;
    padding: 1em;
}

.logo {
    margin-left: 1%;
    width: 2.5em
}

.nav{
    position: fixed;
    background: var(--clr-gray);
    color: var(--clr-light);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;

    transform: translateX(100%);
    transition: transform 250ms cubic-bezier(.5, 0, .5, 1);
}

.nav__list{
    list-style: none;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 0;
    padding: 0;
}

.nav__link{
    color:inherit;
    font-weight: var(--fw-bold);
    font-size: var(--fs-h2);
    text-decoration: none;
}

.nav__link:hover{
    color: var(--clr-accent);
}

.nav-toggle{
    display: .5em;
    background:transparent;
    border:0;
    cursor: pointer;
    position: absolute;
    right: 1.5em;
    top: 2.25em;
    z-index:1000;
}

.nav-open .nav{
    transform: translateX(0);    
}

.nav-open .nav-toggle{
    position: fixed;
}

.nav-open .hamburger{
    background: var(--clr-accent);
    transform: rotate(.625turn);
}

.nav-open .hamburger::before{
    background: var(--clr-accent);
    transform: rotate(90deg) translate(-6px);
}

.nav-open .hamburger::after{
    opacity: 0;
}




.hamburger{
    display: block;
    position: relative;
}

.hamburger,
.hamburger::before,
.hamburger::after{
    background: var(--clr-gray);
    width: 2em;
    height: 4px;
    border-radius: 5px;
    transition: transform 250ms ease-in-out;
}

.hamburger::before,
.hamburger::after{
    content: '';
    position: absolute;
    left: 0;
    right: 0;
}

.hamburger::before { top: 6px; }
.hamburger::after { bottom: 6px; }


/*Intro section*/

.intro {

    position: relative;
    background-repeat: no-repeat;
    background-size: cover;    
}

.intro__img {
    box-shadow: var(--bs);
}

@media (min-width:600px) {
    .intro {
        display: grid;
        grid-column-gap: 1em;
        grid-template-areas: "img title" "img subtitle";
        grid-template-columns: min-content max-content;
    }
    .intro__img {
        grid-area: img;
        min-width: 250px;
        position: relative;
        z-index: 2;
    }
    .section__subtitle--intro {
        align-self: start;
        grid-column: -1/1;
        grid-row: 2;
        text-align: right;
        position: relative;
        left: -1.5em;
        width: calc(100% + 1.5em);
    }
}

/* Mes competences */

.mes-competences {
    background-color: var(--clr-gray);
    color: var(--clr-light);
}

.competence {
    border-radius: 2px;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 10.5em;
}

.comp__img {
    transition: transform .2s;
}

.comp__img:hover {
    transform: scale(1.5);
}

@media only screen and (min-device-width: 800px) {
    .competences {
        display: grid;
        grid-template-columns: 25% 25% 25%;
        grid-gap: 10px;
        grid-template-columns: repeat(2, 1fr);
        position: relative;
        
    }
}

@media (min-width:900px){
    .competences {
        display: grid;
        grid-template-columns: 25% 25% 25%;
        grid-gap: 10px;
        grid-template-columns: repeat(4, 1fr);
        position: relative;
    }
}

/*sur-moi*/

.sur-moi{
    max-width: 1000px;
    margin: 0 auto;
}

.sur-moi__img{
    box-shadow: var(--bs);
}

@media (min-width: 600px){
    .sur-moi{
        background:rgba(255, 255, 255, 0.616);
        display: grid;
        grid-template-columns: 1fr 200px;
        grid-template-areas: 
            "title img"
            "subtitle img"
            "text img";
        column-gap: 2em;
    }

    .section__title--moi{
        grid-area: title;

    }

    .section__subtitle--moi{
        grid-column: 1/-1;
        grid-row: 2;
        position: relative;
        left: -1em;
        width: calc(100% + 2em);
        padding-left: 1em;
        padding-right: calc(200px+4em);

    }


    .sur-moi__img{
        grid-area: img;
        position: relative;
        z-index: 2;
    }
}

/* Mes projets */

.mes-projets{
    background-color: var(--clr-gray);
    color: var(--clr-light);
    text-align: center;
}

.portfolio{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
}

.portfolio__item{
    overflow: hidden;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul button {
    --c: #16e0bd;
    color: var(--c);
    background-color: var(--clr-gray);
    font-size: 16px;
    border: 0.3em solid var(--c);
    border-radius: 0.5em;
    width: 20em;
    height: 8em;
    text-transform: uppercase;
    font-weight: bold;
    font-family: sans-serif;
    letter-spacing: 0.1em;
    text-align: center;
    line-height: 8em;
    position: relative;
    overflow: hidden;
    z-index: 1;
    transition: 0.5s;
    margin: 1em;
}

nav ul button span {
    position: absolute;
    width: 25%;
    height: 300%;
    background-color: var(--c);
    transform: translateY(150%);
    border-radius: 50%;
    left: calc((var(--n) - 1) * 25%);
    transition: 0.5s;
    transition-delay: calc((var(--n) - 1) * 0.1s);
    z-index: -1;
}

nav ul button:hover {
    color: black;
}

nav ul button:hover span {
    transform: translateY(0) scale(2);
}

nav ul button span:nth-child(1) {
    --n: 1;
}

nav ul button span:nth-child(2) {
    --n: 2;
}

nav ul button span:nth-child(3) {
    --n: 3;
}

nav ul button span:nth-child(4) {
    --n: 4;
}



/*footer*/

footer{
    background: var(--clr-dark);
    color:var(--clr-accent);
    text-align: center;
    padding: 2.5em 0;
    padding-bottom: 3em;
}

footer a{
    color:inherit;
    text-decoration: none;
}

.footer-link{
    font-size: var(--fs-h3);
    font-weight: var(--fw-bold);
}

.footer-link:hover,
.social-list__link:hover{
    opacity: 7;
}

.footer-link:hover{
    text-decoration: underline;
}

.social-list{
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 2em 0 0;
    padding: 0;
}

.social-list__item{
    margin: 0  .5em;
}

.language{
    font-size: var(--fs-h3);
    font-weight: var(--fw-bold);
    position: absolute;
    right: 2em;    
}

/* Individual portfolio item styles */
.portfolio-item-individual{
    background:rgba(255, 255, 255, 0.616);
    padding: 0 2em 2em;
    max-width: 1000px;
    margin: 0 auto;
}

.portfolio-item-individual p {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.portfolio-item-individual li {
    max-width: 800px;
    margin-left: 200px;
    margin-right: auto;
}

pre{
    max-width: 800px;
    font-size: 11px;
    color: #16e0bd;
    background-color: #1d1d1d;
}