*, *::before, *::after {
    box-sizing: border-box;
    text-decoration: none;
}

:root {
    --ff-primary: 'Source Sans Pro', sans-serif;
    --ff-secondary: 'Source Sans Pro', monospace;
    --fw-reg: 300;
    --fw-bold: 900;
    --clr-light: #fff;
    --clr-dark: #1d1d1d;
    --clr-accent: #16e0bd;
    --clr-gray: rgb(48, 48, 48);
    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;
    --bs: 0.25em 0.25em 0.75em rgba(0, 0, 0, .25), 0.125em 0.125em 0.25em rgba(0, 0, 0, .15);
}

@media (min-width: 800px) {
    :root {
        --fs-h1: 4.5rem;
        --fs-h2: 3.75rem;
        --fs-h3: 1.5rem;
        --fs-body: 1.125rem;
    }
}

body {
    background: var(--clr-light);
    color: var( --clr-dark);
    margin: 0;
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    line-height: 1.6;
}

/*canvas animated background*/

canvas{
    background: var(--clr-light);
    position:fixed;
    left:0;
    top:0;
    z-index:-5;
    opacity: 0.3;
}

section {
    padding: 5em;
}

img {
    display: block;
    max-width: 100%;
}

strong {
    font-weight: var(--fw-bold);
}

/*Typorgraphie*/

h1, h2, h3 {
    line-height: 1;
    margin: 0;
}

h1 {
    font-size: var(--fs-h1);
}

h2 {
    font-size: var(--fs-h2);
}

h3 {
    font-size: var(--fs-h3);
}

.section__title {
    margin-bottom: .25em;
}

.section__title--intro strong {
    display: block;
}

.section__title--intro {
    font-weight: var(--fw-reg);
    margin-bottom: .10em;
}

.section__subtitle {
    margin: 0%;
    font-size: var(--fs-h3);
}

.section__subtitle--intro, .section__subtitle--moi {
    background: var(--clr-accent);
    padding: .25em;
    font-family: var(--ff-secondary);
    margin-bottom: 1em;
}

/*header*/


nav {
    display: none;
    background-color: none;
}

.header{
}

.logo {
    margin: auto;
    width: 50%;
    margin-top:1%;
    height: 3%;
    width: 3%;
}

/*Intro section*/

.intro {

    position: relative;
    background-image: url("../image/graph.png");
    background-repeat: no-repeat;
    background-size: cover;    
}

.intro__img {
    box-shadow: var(--bs);
}

@media (min-width:600px) {
    .intro {
        display: grid;
        grid-column-gap: 1em;
        grid-template-areas: "img title" "img subtitle";
        grid-template-columns: min-content max-content;
    }
    .intro__img {
        grid-area: img;
        min-width: 250px;
        position: relative;
        z-index: 2;
    }
    .section__subtitle--intro {
        align-self: start;
        grid-column: -1/1;
        grid-row: 2;
        text-align: right;
        position: relative;
        left: -1.5em;
        width: calc(100% + 1.5em);
    }
}

/* Mes competences */

.mes-competences {
    background-color: var(--clr-gray);
    color: var(--clr-light);
}

.competence {
    border-radius: 2px;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.comp__img {
    transition: transform .2s;
}

.comp__img:hover {
    transform: scale(1.5);
}

@media only screen and (min-device-width: 800px) {
    .competences {
        display: grid;
        grid-template-columns: 25% 25% 25%;
        grid-gap: 10px;
        grid-template-columns: repeat(2, 1fr);
        position: relative;
        
    }
}

@media (min-width:900px){
    .competences {
        display: grid;
        grid-template-columns: 25% 25% 25%;
        grid-gap: 10px;
        grid-template-columns: repeat(4, 1fr);
        position: relative;
    }
}

/*sur-moi*/

.sur-moi{
    max-width: 1000px;
    margin: 0 auto;
}

.sur-moi__img{
    box-shadow: var(--bs);
}

@media (min-width: 600px){
    .sur-moi{
        background:rgba(255, 255, 255, 0.616);
        display: grid;
        grid-template-columns: 1fr 200px;
        grid-template-areas: 
            "title img"
            "subtitle img"
            "text img";
        column-gap: 2em;
    }

    .section__title--moi{
        grid-area: title;

    }

    .section__subtitle--moi{
        grid-column: 1/-1;
        grid-row: 2;
        position: relative;
        left: -1em;
        width: calc(100% + 2em);
        padding-left: 1em;
        padding-right: calc(200px+4em);

    }


    .sur-moi__img{
        grid-area: img;
        position: relative;
        z-index: 2;
    }
}


@media (min-width: 600px){
    .mes-projets{
        background: var(--clr-light);
    }
}

footer{
    background: var(--clr-light);
}


